:root {
  --background-color-light: #fff;
  --text-color-light: #000;
  --background-color-dark: #333;
  --text-color-dark: #fff;
}

body {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}