:root {
  --background-color-light: #fff;
  --text-color-light: #000;
  --background-color-dark: #333;
  --text-color-dark: #fff;
}

body {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
  transition: background-color 0.3s, color 0.3s;
  font-family: sans-serif;
  margin: 20px;
}

body.dark-mode {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

#news-container {
  margin-top: 20px;
}

.news-item {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid var(--text-color-light);
  border-radius: 8px;
}

body.dark-mode .news-item {
  border: 1px solid var(--text-color-dark);
}

.news-item h2 {
  margin-top: 0;
}
